<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0-beta001" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="Moq" version="4.6.36-alpha" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
</packages>